.mainpart {
    background-color: #3A3072;
    color: #C0C0C0;
    height: 100vh;
    background-image: url(../background/116287274_p0.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.purpose {
    transition: background-color 0.3s ease-in-out;
    padding: 1%;
}
.purpose:hover {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1%;
}
.purpose h1 {
    text-align: center;
    font-size: 4vw;
    margin: 1vh;
}
.purpose p {
    text-align: center;
    width: 80vw;
    padding: 0.5vh 0;
}
.backbutton a{
    color: #C0C0C0;
    text-decoration: none;
    border:1px solid #C0C0C0;
    padding: 10px 20px;
    border-radius: 5px;
    transition: color 0.3s ease, border 0.3s ease, background-color 0.3s ease;
}
.backbutton a:hover{
    color: #FFD700;
    border:1px solid #FFD700;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(225, 180, 0, 0.2);
}